In [ ]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 16.9 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 18.6 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1

**1. Menghubungkan ke Database MongoDB**
- **Tugas 1**: Pastikan MongoDB telah terpasang dan berjalan. Hubungkan ke MongoDB lokal.

In [ ]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb+srv://WSA_MONGODB:wsadbmongo@itsmewysds.re1ne.mongodb.net/?retryWrites=true&w=majority&appName=itsmewysds')
db = client['company_db']
collection = db['employees']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

### 2. Operasi CRUD Dasar
- **Tugas 2**: Insert, Update, dan Delete data pada koleksi `employees`.

In [ ]:
# Contoh Insert Data
employee_data = {
    'name': 'Alice',
    'department': 'Finance',
    'age': 29,
    'salary': 4500
}
dokumenmasuk = collection.insert_one(employee_data)
dokumenmasuk.inserted_id
print('Data inserted')

Data inserted

- **Tugas Tambahan**: Insert beberapa data tambahan, lakukan update, serta delete data

In [ ]:
# 1. Menambahkan Data (Insert)
data_tambahan = [
    {'name': 'Moka', 'department': 'HR', 'age': 32, 'salary': 5000},
    {'name': 'Anton', 'department': 'HR', 'age': 30, 'salary': 6000},
    {'name': 'Joko', 'department': 'Manager', 'age': 26, 'salary': 4000}
]

# Insert data ke koleksi MongoDB
insert_result = collection.insert_many(data_tambahan)
print("Data Masuk dengan ID:", insert_result.inserted_ids)

Data Masuk dengan ID: [ObjectId('6721fe76bc2e18bbff0e8f55'), ObjectId('6721fe76bc2e18bbff0e8f56'), ObjectId('6721fe76bc2e18bbff0e8f57')]

In [ ]:
# 2. Update Data
# Contoh: Update salary Bob menjadi 5500
update_filter = {"name": "Bob"}
update_data = {"$set": {"salary": 6000}}

update_result = collection.update_one(update_filter, update_data)
print("Jumlah data yang diupdate:", update_result.modified_count)

Jumlah data yang diupdate: 1

In [ ]:
# 3. Delete Data
# Contoh: Hapus data dengan nama Joko
delete_filter = {"name": "Moka"}

delete_result = collection.delete_one(delete_filter)
print("Jumlah data yang dihapus:", delete_result.deleted_count)

Jumlah data yang dihapus: 1

In [ ]:
# Contoh Query Data
for employee in collection.find():
    print(employee)

{'_id': ObjectId('6721fb26bc2e18bbff0e8f48'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('6721fd43bc2e18bbff0e8f53'), 'name': 'Bob', 'department': 'HR', 'age': 32, 'salary': 6000}
{'_id': ObjectId('6721fe76bc2e18bbff0e8f56'), 'name': 'Anton', 'department': 'HR', 'age': 30, 'salary': 6000}
{'_id': ObjectId('6721fe76bc2e18bbff0e8f57'), 'name': 'Joko', 'department': 'Manager', 'age': 26, 'salary': 4000}

### 3. Query Lebih Kompleks Menggunakan Aggregation
- **Tugas 3**: Terapkan aggregation untuk menghitung rata-rata gaji per departemen.

In [ ]:
# Query Aggregation untuk mencari rata-rata gaji per departemen
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'Manager', 'average_salary': 4000.0}
{'_id': 'Finance', 'average_salary': 4500.0}
{'_id': 'HR', 'average_salary': 6000.0}

### 4. Latihan Tambahan
- **Latihan 4.1**: Buatlah koleksi baru `products` dan masukkan data produk (minimal 10 produk).

In [ ]:
from pymongo import MongoClient

# Koneksi ke MongoDB
client = MongoClient('mongodb+srv://WSA_MONGODB:wsadbmongo@itsmewysds.re1ne.mongodb.net/?retryWrites=true&w=majority&appName=itsmewysds')
db = client['latihanbd9']
products_collection = db['products']  # Membuat atau mengakses koleksi 'products'

# Data produk
data_produk = [
    {"name": "Kulkas", "category": "Elektronik", "price": 1200},
    {"name": "TV", "category": "Elektronik", "price": 800},
    {"name": "Baju", "category": "Pakaian", "price": 300},
    {"name": "Magiccom", "category": "Elektronik", "price": 1500},
    {"name": "Celana", "category": "Pakaian", "price": 250},
    {"name": "Pensin", "category": "Alat Tulis", "price": 50},
    {"name": "Dispenser", "category": "Elektronik", "price": 1800},
    {"name": "Sepatu", "category": "Pakaian", "price": 350},
    {"name": "Kompor", "category": "Elektronik", "price": 2000},
    {"name": "Pulpen", "category": "Alat Tulis", "price": 75}
]

# Insert data ke koleksi 'products'
products_collection.insert_many(data_produk)
print("Data produk berhasil ditambahkan.")

Data produk berhasil ditambahkan.

- **Latihan 4.2**: Lakukan query untuk menemukan produk dengan harga di atas rata-rata.

In [ ]:
# Hitung rata-rata harga produk
average_price = products_collection.aggregate([
    {"$group": {"_id": None, "average_price": {"$avg": "$price"}}}
])
average_price = list(average_price)[0]["average_price"]

print(f"Rata - Rata Harga Semua Produk : {average_price}\n")

# Query untuk menemukan produk dengan harga di atas rata-rata
produk_di_atas_rata_rata = products_collection.find({"price": {"$gt": average_price}})

# Menampilkan hasil
print("Produk dengan harga di atas rata-rata:")
for produk in produk_di_atas_rata_rata:
    print(produk)

Rata - Rata Harga Semua Produk : 832.5

Produk dengan harga di atas rata-rata:
{'_id': ObjectId('6722009fbc2e18bbff0e8f64'), 'name': 'Kulkas', 'category': 'Elektronik', 'price': 1200}
{'_id': ObjectId('6722009fbc2e18bbff0e8f67'), 'name': 'Magiccom', 'category': 'Elektronik', 'price': 1500}
{'_id': ObjectId('6722009fbc2e18bbff0e8f6a'), 'name': 'Dispenser', 'category': 'Elektronik', 'price': 1800}
{'_id': ObjectId('6722009fbc2e18bbff0e8f6c'), 'name': 'Kompor', 'category': 'Elektronik', 'price': 2000}

- **Latihan 4.3**: Buatlah aggregation pipeline untuk menghitung total produk dalam setiap kategori.

In [ ]:
# Aggregation pipeline untuk menghitung jumlah produk per kategori
total_per_kategori = products_collection.aggregate([
    {"$group": {"_id": "$category", "total_products": {"$sum": 1}}}
])

# Menampilkan hasil
print("Total produk dalam setiap kategori:")
for kategori in total_per_kategori:
    print(f"Kategori: {kategori['_id']}, Total Produk: {kategori['total_products']}")

Total produk dalam setiap kategori:
Kategori: Pakaian, Total Produk: 3
Kategori: Elektronik, Total Produk: 5
Kategori: Alat Tulis, Total Produk: 2

### 5. Tugas
- **Tugas 1**: Cari 5 karyawan dengan gaji tertinggi dalam setiap departemen, gunakan query atau aggregation yang sesuai.

In [ ]:
from pymongo import MongoClient

# Koneksi ke MongoDB
client = MongoClient('mongodb+srv://WSA_MONGODB:wsadbmongo@itsmewysds.re1ne.mongodb.net/?retryWrites=true&w=majority&appName=itsmewysds')
db = client['tugasbd9']
tugas_collections = db['karyawanwsa']

#Menambahkan Data
data_karyawan = [
    {'nama': 'Lefteye','usia': 30, 'departemen': 'Manager', 'gaji': 5000},
    {'nama': 'Aliyah','usia': 20, 'departemen': 'Staff', 'gaji': 3000},
    {'nama': 'Michael','usia': 22, 'departemen': 'Staff', 'gaji': 3500},
    {'nama': 'Jackson','usia': 31, 'departemen': 'Manager', 'gaji': 5500},
    {'nama': 'Sugeng','usia': 27, 'departemen': 'Staff', 'gaji': 3200},
    {'nama': 'Songgeng','usia': 26, 'departemen': 'Staff', 'gaji': 3800},
    {'nama': 'Gracia','usia': 28, 'departemen': 'Manager', 'gaji': 5200},
    {'nama': 'Steven','usia': 23, 'departemen': 'Manager', 'gaji': 3200},
    {'nama': 'Gobeng','usia': 21, 'departemen': 'Manager', 'gaji': 3200},
    {'nama': 'Kamarudin','usia': 19, 'departemen': 'Manager', 'gaji': 3200}
]

# Insert data ke koleksi 'karyawanwsa'
tugas_collections.insert_many(data_karyawan)
print("Data karyawan berhasil ditambahkan.")

Data karyawan berhasil ditambahkan.

In [ ]:
# Pipeline untuk mencari 5 karyawan dengan gaji tertinggi dalam setiap departemen
top_5_karyawan_per_departemen = tugas_collections.aggregate([
    {"$sort": {"departemen": 1, "gaji": -1}},  # Urutkan berdasarkan departemen dan gaji tertinggi
    {
        "$group": {
            "_id": "$departemen",
            "top_karyawan": {"$push": {"nama": "$nama", "gaji": "$gaji"}}
        }
    },
    {"$project": {"top_karyawan": {"$slice": ["$top_karyawan", 5]}}}  # Ambil 5 karyawan teratas dalam setiap departemen
])

# Menampilkan hasil
print("5 karyawan dengan gaji tertinggi di setiap departemen:")
for dept in top_5_karyawan_per_departemen:
    print(f"Departemen: {dept['_id']}")
    for karyawan in dept["top_karyawan"]:
        print(f"Nama: {karyawan['nama']}, Gaji: {karyawan['gaji']}")

5 karyawan dengan gaji tertinggi di setiap departemen:
Departemen: Manager
Nama: Jackson, Gaji: 5500
Nama: Gracia, Gaji: 5200
Nama: Lefteye, Gaji: 5000
Nama: Steven, Gaji: 3200
Nama: Gobeng, Gaji: 3200
Departemen: Staff
Nama: Songgeng, Gaji: 3800
Nama: Michael, Gaji: 3500
Nama: Sugeng, Gaji: 3200
Nama: Aliyah, Gaji: 3000

- **Tugas 2**: Buatlah skenario di mana Anda harus menghapus karyawan yang berusia di bawah 25 tahun dari database.

In [ ]:
# Menghapus karyawan yang berusia di bawah 25 tahun
delete_result = tugas_collections.delete_many({"usia": {"$lt": 25}})
print(f"Jumlah karyawan yang dihapus: {delete_result.deleted_count}")

Jumlah karyawan yang dihapus: 5

- **Tugas 3**: Buatlah laporan ringkas (menggunakan MongoDB query) yang menghitung total gaji karyawan di setiap departemen, serta rata-rata umur karyawan.

In [ ]:
# Pipeline untuk menghitung total gaji dan rata-rata umur di setiap departemen
laporan_departemen = tugas_collections.aggregate([
    {
        "$group": {
            "_id": "$departemen",
            "total_gaji": {"$sum": "$gaji"},
            "rata_rata_usia": {"$avg": "$usia"}
        }
    }
])

# Menampilkan laporan
print("Laporan total gaji dan rata-rata usia karyawan di setiap departemen:")
for dept in laporan_departemen:
    print(f"Departemen: {dept['_id']}, Total Gaji: {dept['total_gaji']}, Rata-rata Usia: {dept['rata_rata_usia']:.2f}")

Laporan total gaji dan rata-rata usia karyawan di setiap departemen:
Departemen: Staff, Total Gaji: 7000, Rata-rata Usia: 26.50
Departemen: Manager, Total Gaji: 15700, Rata-rata Usia: 29.67